{% extends "base.html" %}

{% block title %}My Projects{% endblock title %}

{% block content %}
    <h1>Projects</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h3 class="card-title">{{ project.title }}</h3>
                        <p class="card-text">{{ project.stack }}</p>
                        <a href="{% url 'projects:project_detail' project.id %}" class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
